body {
  font-family: Arial, sans-serif; /* Шрифт для всего документа */
  color: #ffffff; /* Цвет текста */
  text-align: center; /* Центрирование текста */
  padding: 0; /* Удаление отступов */
  margin: 0; /* Удаление маргина */
  width: 100wh;
  height: 100vh;
  box-sizing: border-box; /* Учет отступов и границ в ширине/высоте */
}

header {
  background-color: #ffcc00; /* Цвет фона заголовка */
  padding: 20px; /* Отступы вокруг заголовка */
  font-size: 24px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
}

.button {
  background-color: #28a745; /* Цвет кнопки */
  color: white; /* Цвет текста на кнопке */
  padding: 10px 20px; /* Отступы внутри кнопки */
  border: none; /* Убираем рамку */
  cursor: pointer; /* Курсор при наведении */
  font-size: 18px; /* Размер шрифта */
  transition: background-color 0.3s; /* Плавный переход цвета при наведении */
}

.button:hover {
  background-color: #218838; /* Цвет кнопки при наведении */
}

img {
  position: absolute; /* Абсолютное позиционирование изображения */
  object-fit: cover; /* Обрезка изображения при сохранении пропорций */
  width: 100%; /* Изображение занимает 100% ширины родителя */
  height: 100%; /* Изображение занимает 100% высоты родителя */
  top: 0; /* Вертикальное начало */
  left: 0; /* Горизонтальное начало */
  z-index: -1000; /* Размещение изображения позади других элементов */
}

form {
  background-color: rgba(248, 183, 183, 0.8); /* Полупрозрачный фон для формы */
  padding: 20px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы формы */
  max-width: 400px; /* Максимальная ширина формы */
  margin: 20px auto; /* Центрирование формы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для формы */
}

label {
  display: block; /* Блок для каждой метки */
  margin-bottom: 10px; /* Отступ снизу */
  font-weight: bold; /* Жирный шрифт для меток */
}
#result {
  display: none;
  border: 1px solid red;
  padding: 10px;
  margin-top: 20px;
  color: white;
  background-color: red;
}
/* Медиа-запрос для мобильных устройств */
@media (max-width: 1000px) {
  header {
    font-size: 20px; /* Уменьшаем размер шрифта заголовка */
    padding: 15px; /* Уменьшаем отступы вокруг заголовка */
  }

  .button {
    font-size: 16px; /* Уменьшаем размер шрифта кнопки */
    padding: 8px 16px; /* Уменьшаем отступы внутри кнопки */
  }

  form {
    max-width: 80%; /* Устанавливаем максимальную ширину формы на 90% */
    margin: 10px auto; /* Уменьшаем отступ сверху и снизу */
  }

  img {
    position: absolute; /* Изменяем на fixed для полного заполнения экрана */
    height: 100vh; /* 100% высоты вьюпорта */
    z-index: -1000; /* Размещение изображения позади других элементов */
  }

  label {
    font-size: 16px; /* Уменьшаем размер шрифта для меток */
  }
}
